happensAt(move(mary,bathroom),1).
happensAt(go(john,hallway),2).
#example holdsAt(location(mary,bathroom),3).
happensAt(go_back(daniel,hallway),4).
happensAt(move(sandra,garden),5).
#example holdsAt(location(daniel,hallway),6).
happensAt(move(john,office),7).
happensAt(journey(sandra,bathroom),8).
#example holdsAt(location(daniel,hallway),9).
happensAt(move(mary,hallway),10).
happensAt(travel(daniel,office),11).
#example holdsAt(location(daniel,office),12).
#example not holdsAt(location(daniel,hallway),12).
happensAt(go_back(john,garden),13).
happensAt(move(john,bedroom),14).
#example holdsAt(location(sandra,bathroom),15).
