happensAt(go_back(sandra,bathroom),1).
happensAt(move(mary,garden),2).
#example holdsAt(location(mary,garden),3).
happensAt(go_back(mary,hallway),4).
happensAt(go(sandra,office),5).
#example holdsAt(location(sandra,office),6).
happensAt(go_back(john,hallway),7).
happensAt(travel(john,office),8).
#example holdsAt(location(sandra,office),9).
happensAt(journey(sandra,hallway),10).
happensAt(move(daniel,office),11).
#example holdsAt(location(john,office),12).
happensAt(go(mary,office),13).
happensAt(go(sandra,office),14).
#example holdsAt(location(john,office),15).
