happensAt(go_back(mary,office),1).
happensAt(go_back(john,bathroom),2).
#example holdsAt(location(mary,office),3).
happensAt(go(john,hallway),4).
happensAt(journey(mary,hallway),5).
#example holdsAt(location(mary,hallway),6).
#example not holdsAt(location(mary,office),6).
happensAt(travel(sandra,hallway),7).
happensAt(travel(mary,office),8).
#example holdsAt(location(john,hallway),9).
happensAt(go_back(mary,hallway),10).
happensAt(travel(sandra,office),11).
#example holdsAt(location(sandra,office),12).
happensAt(go(john,kitchen),13).
happensAt(go(sandra,hallway),14).
#example holdsAt(location(mary,hallway),15).
#example not holdsAt(location(mary,office),15).
