happensAt(move(sandra,hallway),1).
happensAt(move(john,hallway),2).
#example holdsAt(location(john,hallway),3).
happensAt(journey(john,bathroom),4).
happensAt(go_back(daniel,bedroom),5).
#example holdsAt(location(john,bathroom),6).
#example not holdsAt(location(john,hallway),6).
happensAt(travel(mary,bedroom),7).
happensAt(journey(mary,garden),8).
#example holdsAt(location(daniel,bedroom),9).
happensAt(travel(john,bedroom),10).
happensAt(journey(sandra,garden),11).
#example holdsAt(location(daniel,bedroom),12).
happensAt(journey(john,kitchen),13).
happensAt(go(sandra,kitchen),14).
#example holdsAt(location(john,kitchen),15).
#example not holdsAt(location(john,hallway),15).
#example not holdsAt(location(john,bathroom),15).
