happensAt(travel(sandra,office),1).
happensAt(go(sandra,bathroom),2).
#example holdsAt(location(sandra,bathroom),3).
happensAt(go(mary,bedroom),4).
happensAt(move(daniel,hallway),5).
#example holdsAt(location(sandra,bathroom),6).
happensAt(go(john,garden),7).
happensAt(travel(john,office),8).
#example holdsAt(location(sandra,bathroom),9).
happensAt(journey(daniel,bedroom),10).
happensAt(travel(daniel,hallway),11).
#example holdsAt(location(john,office),12).
happensAt(go(john,bedroom),13).
happensAt(travel(john,office),14).
#example holdsAt(location(daniel,hallway),15).
