happensAt(go(mary,bedroom),1).
happensAt(journey(john,bathroom),2).
#example holdsAt(location(john,bathroom),3).
happensAt(journey(sandra,hallway),4).
happensAt(journey(john,garden),5).
#example holdsAt(location(mary,bedroom),6).
happensAt(journey(john,bathroom),7).
happensAt(journey(sandra,garden),8).
#example holdsAt(location(john,bathroom),9).
happensAt(go_back(sandra,bedroom),10).
happensAt(travel(daniel,bathroom),11).
#example holdsAt(location(john,bathroom),12).
happensAt(go(john,office),13).
happensAt(move(mary,office),14).
#example holdsAt(location(sandra,bedroom),15).
