happensAt(journey(daniel,kitchen),1).
happensAt(journey(daniel,bedroom),2).
#example holdsAt(location(daniel,bedroom),3).
happensAt(move(sandra,garden),4).
happensAt(go_back(sandra,kitchen),5).
#example holdsAt(location(sandra,kitchen),6).
happensAt(travel(daniel,office),7).
happensAt(go_back(sandra,hallway),8).
#example holdsAt(location(sandra,hallway),9).
#example not holdsAt(location(sandra,kitchen),9).
happensAt(journey(daniel,hallway),10).
happensAt(go(daniel,bathroom),11).
#example holdsAt(location(sandra,hallway),12).
#example not holdsAt(location(sandra,kitchen),12).
happensAt(travel(john,garden),13).
happensAt(move(daniel,hallway),14).
#example holdsAt(location(daniel,hallway),15).
#example not holdsAt(location(daniel,bedroom),15).
