happensAt(move(mary,garden),1).
happensAt(journey(daniel,bathroom),2).
#example holdsAt(location(daniel,bathroom),3).
happensAt(travel(john,kitchen),4).
happensAt(go_back(john,bedroom),5).
#example holdsAt(location(john,bedroom),6).
happensAt(move(john,office),7).
happensAt(go_back(daniel,garden),8).
#example holdsAt(location(daniel,garden),9).
#example not holdsAt(location(daniel,bathroom),9).
happensAt(go_back(john,hallway),10).
happensAt(go(mary,office),11).
#example holdsAt(location(john,hallway),12).
#example not holdsAt(location(john,bedroom),12).
happensAt(travel(sandra,bedroom),13).
happensAt(travel(john,garden),14).
#example holdsAt(location(daniel,garden),15).
#example not holdsAt(location(daniel,bathroom),15).
