happensAt(move(daniel,hallway),1).
happensAt(travel(daniel,office),2).
#example holdsAt(location(daniel,office),3).
happensAt(go(daniel,bedroom),4).
happensAt(journey(daniel,office),5).
#example holdsAt(location(daniel,office),6).
happensAt(go_back(sandra,bathroom),7).
happensAt(journey(sandra,kitchen),8).
#example holdsAt(location(daniel,office),9).
happensAt(move(daniel,bedroom),10).
happensAt(journey(daniel,hallway),11).
#example holdsAt(location(sandra,kitchen),12).
happensAt(travel(sandra,garden),13).
happensAt(go_back(sandra,bathroom),14).
#example holdsAt(location(daniel,hallway),15).
#example not holdsAt(location(daniel,office),15).
